<footer class="bg-light py-3 footer-section">
    <div class="container text-black">
        <div class="row">
            <div class="col-md-3 footer-col">
                <a href="/">
                    <img src="/img/logo.png" alt="Egzozstore Logo" class="footer-logo" loading = "lazy">
                </a>
                <h4 class="footer-collapsible">Keşfet</h4>
                <ul class="footer-content">
                    <li><a href="#">Nasıl Çalışır?</a></li>
                    <li><a href="#">İş Yerleri için EgzozStore</a></li>
                    <li><a href="#">Nasıl Çalışır?</a></li>
                    <li><a href="#">Sıkça Sorulan Sorular</a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-col">
                <h4 class="footer-collapsible">Egzozstore</h4>
                <ul class="footer-content">
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Kariyer</a></li>
                    <li><a href="#">Şartlar ve Koşullar</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-col">
                <h4 class="footer-collapsible">Üyelik</h4>
                <ul class="footer-content">
                    <li><a href="#">Üye Ol</a></li>
                    <li><a href="#">Giriş Yap</a></li>
                    <li><a href="#">Üyelik Koşulları</a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-col">
                <h4 class="footer-collapsible">Popüler Başlıklar</h4>
                <ul class="footer-content">
                    <li><a href="#">Egzozlar</a></li>
                    <li><a href="#">Katalitik Konverterler</a></li>
                    <li><a href="#">Performans Egzozları</a></li>
                    <li><a href="#">Partikül Filtresi</a></li>
                    <li><a href="#">Ağır Vasıta Egzozları</a></li>
                    <li><a href="#">Egzoz Parçaları</a></li>
                </ul>
                
                <div class="social-icons">
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        
        <hr class="my-4">
        
        <div class="row">
            <div class="col-12 text-center">
                © 2023 Egzozstore. Tüm hakları saklıdır. Web Sitesi Tasarım & Geliştirme: RTMdigi
            </div>
        </div>
    </div>
    <script src="/js/footer.js" defer></script>
</footer>