<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/campaigns-and-announcements-section.css">
</head>

<section class="campaigns-and-announcements">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h1 class="campaigns-and-announcements-title">Kampanyalar/Duyurular</h1>
                <a href="#" class="campaigns-and-announcements-view-all">Tüm Kampanyaları Görüntüle</a>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-lg-5">
                <img src="img/campaign-icons/ucretsizkargo.png" alt="Campaign Image" class="campaigns-and-announcements-image img-fluid" loading="lazy">
            </div>
            <div class="col-lg-7">
                <!-- Ikon 1 -->
                <div class="row icon-row"
                    data-title="Tamamen Ücretsiz Kargo"
                    data-text=
                        "Seçili ürünlerde ücretsiz kargo fırsatı sizleri bekliyor!
                        |Alışverişinizi tamamlayın ve kargonuzu ekstra ücret ödemeden adresinizde teslim alın.
                        |Sınırlı süre için geçerli bu fırsatı kaçırmayın!"
                    data-img="img/campaign-icons/ucretsizkargo.png">
                        <div class="col-md-2 offset-lg-1">
                            <img src="img/campaign-icons/icon1.png" alt="Ücretsiz Kargo Fırsatı Ikon" class="campaigns-and-announcements-icon" loading="lazy">
                        </div>
                        <div class="col-md-9">
                            <p class="campaigns-and-announcements-description">Ücretsiz Kargo Fırsatı!</p>
                        </div>
                </div>
                <!-- Ikon 2 -->
                <div class="row icon-row"
                    data-title="Hafta Sonu İndirimi"
                    data-text=
                        "Hafta sonuna özel büyük indirimlerimiz başladı! Seçili ürünlerde sınırlı süreyle geçerli bu fırsatı kaçırmayın.
                        |Hafta sonunuzu, avantajlı alışverişle taçlandırın!"
                    data-img="img/campaign-icons/haftasonu.png">
                    <div class="col-md-2 offset-lg-1">
                        <img src="img/campaign-icons/icon2.png" alt="Hafta Sonu İndirimi Ikon" class="campaigns-and-announcements-icon" loading="lazy">
                    </div>
                    <div class="col-md-9">
                        <p class="campaigns-and-announcements-description">Hafta Sonu İndirimi!</p>
                    </div>
                </div>
                <!-- Ikon 3 -->
                <div class="row icon-row"
                    data-title="Yeni Müşteri Fırsatı"
                    data-text=
                        "Web sitemize yeni üye olan herkese özel indirim kuponu hediye!
                        |İlk alışverişinizde kullanabileceğiniz bu kuponla tanışma fırsatını kaçırmayın."
                    data-img="img/campaign-icons/yenimusterifirsati.png">
                    <div class="col-md-2 offset-lg-1">
                        <img src="img/campaign-icons/icon1.png" alt="Yeni Müşteri Fırsatı Ikon" class="campaigns-and-announcements-icon" loading="lazy">
                    </div>
                    <div class="col-md-9">
                        <p class="campaigns-and-announcements-description">Yeni Müşteri Fırsatı!</p>
                    </div>
                </div>
                <!-- Ikon 4 -->
                <div class="row icon-row"
                    data-title="Abone Ol Kazan"
                    data-text=
                        "Haber bültenimize abone olarak anında indirim kazanın!
                        |Ayrıca, yeni ürünler, kampanyalar ve fırsatlardan ilk siz haberdar olun."
                    data-img="img/campaign-icons/aboneolkazan.png">
                    <div class="col-md-2 offset-lg-1">
                        <img src="img/campaign-icons/icon3.png" alt="Abone Ol Kazan Ikon" class="campaigns-and-announcements-icon" loading="lazy">
                    </div>
                    <div class="col-md-9">
                        <p class="campaigns-and-announcements-description">Abone Ol, Kazan!</p>
                    </div>
                </div>
                <!-- Ikon 5 -->
                <div class="row icon-row"
                    data-title="24 Saatte Kargo"
                    data-text=
                        "Aracınıza uygun egzoz sistemleri ve parçaları arıyorsanız, doğru yerdesiniz! Seçili ürünlerimizde
                        |24 saatte kargo avantajıyla, siparişleriniz bir sonraki gün kapınızda. Aracınızı bekletmeden,
                        |ihtiyacınız olan ürünleri hızla elde edin!"
                    data-img="img/campaign-icons/24saattekargo.png">
                    <div class="col-md-2 offset-lg-1">
                        <img src="img/campaign-icons/icon2.png" alt="24 Saatte Kargo Ikon" class="campaigns-and-announcements-icon" loading="lazy">
                    </div>
                    <div class="col-md-9">
                        <p class="campaigns-and-announcements-description">24 Saatte Kargo</p>
                    </div>
                </div>
                <!-- Ikon 6 -->
                <div class="row icon-row"
                    data-title="Egzoz Sistemleri Çılgınlığı"
                    data-text=
                    "Egzoz sistemleri konusunda çılgın fırsatlarımız başladı!
                    |Yüksek kaliteyi uygun fiyatlarla almanın tam zamanı."
                    data-img="img/campaign-icons/egzozcilginligi.png">
                    <div class="col-md-2 offset-lg-1">
                        <img src="img/campaign-icons/icon5.png" alt="Egzoz Sistemleri Çılgınlığı Ikon" class="campaigns-and-announcements-icon" loading="lazy">
                    </div>
                    <div class="col-md-9">
                        <p class="campaigns-and-announcements-description">Egzoz Sistemleri Çılgınlığı!</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-12">
                <h2 class="campaigns-and-announcements-shipping-title">Tamamen Ücretsiz Kargo</h2>
                <p class="campaigns-and-announcements-shipping-text">
                    Seçili ürünlerde ücretsiz kargo fırsatı sizleri bekliyor!<br>
                    Alışverişinizi tamamlayın ve kargonuzu ekstra ücret ödemeden adresinizde teslim alın.<br>
                    Sınırlı süre için geçerli bu fırsatı kaçırmayın!
                </p>
                <a href="#" class="btn campaigns-and-announcements-buy-now">ŞİMDİ SATIN AL</a>
            </div>
        </div>
    </div>
    <script>
        let icons = $('.icon-row');
        let imageElement = $('.campaigns-and-announcements-image');
        let titleElement = $('.campaigns-and-announcements-shipping-title');
        let textElement = $('.campaigns-and-announcements-shipping-text');
        
        icons.click(function() {
            let icon = $(this);
            $('.campaigns-and-announcements-icon').removeClass('active');
            icon.find('.campaigns-and-announcements-icon').addClass('active');
            imageElement.attr('src', icon.data('img'));
            titleElement.text(icon.data('title'));
            textElement.html(icon.data('text').replace(/\|/g, '<br>')); //  | koyulan yerlere <br> koyuyoruz, alta almak icin hocam kafan karismasin.
        });

        let currentIndex = 0;
        setInterval(function() {
            if(currentIndex >= icons.length) currentIndex = 0;
            icons.eq(currentIndex).click();
            currentIndex++;
        }, 5000);
    </script>
</section>