<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/customer-comments-section.css">
</head>
<section class="customer-comment-section bg-primary">
    <div class="container">
        <div class="section-header mb-5">
            <h2 class="section-title">Müşterilerimiz Ne Dedi?</h2>
        </div>
        <div class="owl-carousel">
            <!-- Backend Placeholder: burası müşteri yorumları ile dolduracaktır. -->
            <div class="card customer-card bg-white">
                <div class="card-body">
                    <div class="user-info">
                        <img src="img/customer-icons/icon1.png" alt="User Name" class="rounded-circle" loading="lazy">
                        <p class="user-name">John Doe</p>
                    </div>
                    <div class="comment-content">
                        <div class="top-section">
                            <div class="rating d-flex align-items-center">
                                <i class="fas fa-star"></i>
                                <span class="ml-2">4.9</span>
                            </div>
                            <div class="verified d-flex align-items-center mt-2">
                                <i class="fa-regular fa-id-card"></i>
                                <span class="ml-2">Verified</span>
                            </div>
                        </div>
                        <p class="comment">Bu örnek bir müşteri yorumudur, bu yorumu gerçek müşteri yorumu ile değiştirebilirsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>